In [1]:
import pandas as pd
import os
from glob import glob

In [2]:
os.chdir("/ufrc/soltis/shan158538/TragFL_NewAnalysis/OutPut/Filter_orthologs/Compare_SAM/ase_counts_rename/")

Tms represents short-liguled T. miscellus; its parents include `T. dubius 2886, Moscow` and `T. pratensis 2608, Moscow`

| Original csv files | Renamed csv files |
| -- | -- |
| ase_counts_Tdu_2886_3_2_Tdu_Tpr.csv | ase_counts_Tdu_4_2_Tdu_Tpr.csv |
| ase_counts_Tdu_2886_5_2_Tdu_Tpr.csv | ase_counts_Tdu_5_2_Tdu_Tpr.csv |
| ase_counts_Tdu_2886_7_2_Tdu_Tpr.csv | ase_counts_Tdu_6_2_Tdu_Tpr.csv |

In [22]:
tms = sorted(['both_counts_Tdu_4_2_Tdu_Tpr.csv', 'both_counts_Tdu_5_2_Tdu_Tpr.csv', 'both_counts_Tdu_6_2_Tdu_Tpr.csv', 'both_counts_Tpr_1_2_Tdu_Tpr.csv', 'both_counts_Tpr_2_2_Tdu_Tpr.csv', 'both_counts_Tpr_3_2_Tdu_Tpr.csv'])

In [23]:
tms

['both_counts_Tdu_4_2_Tdu_Tpr.csv',
 'both_counts_Tdu_5_2_Tdu_Tpr.csv',
 'both_counts_Tdu_6_2_Tdu_Tpr.csv',
 'both_counts_Tpr_1_2_Tdu_Tpr.csv',
 'both_counts_Tpr_2_2_Tdu_Tpr.csv',
 'both_counts_Tpr_3_2_Tdu_Tpr.csv']

In [52]:
col_name = "_".join(tms[0].split("_")[2:4])

In [53]:
col_name

'Tdu_4'

In [54]:
df_tms = pd.read_csv(tms[0])

In [55]:
df_tms.head()

                                           FUSION_ID  Count
0  Tpr_TRINITY_DN11257_c2_g1|Tdu_TRINITY_DN16696_...    106
1  Tpr_TRINITY_DN10844_c2_g7|Tdu_TRINITY_DN25328_...    177
2  Tpr_TRINITY_DN15383_c4_g16|Tdu_TRINITY_DN14160...     43
3  Tpr_TRINITY_DN1451_c0_g1|Tdu_TRINITY_DN16990_c...     80
4  Tpr_TRINITY_DN10853_c1_g4|Tdu_TRINITY_DN21860_...    809

In [57]:
df_tms.rename(columns={"FUSION_ID":"FUSION_ID","Count":col_name}, inplace=True)
# different from Lucas's script, which is "BOTH_ALL":col_name; however, BOTH_ALL does not exist in the current df

In [58]:
df_tms.head()

                                           FUSION_ID  Tdu_4
0  Tpr_TRINITY_DN11257_c2_g1|Tdu_TRINITY_DN16696_...    106
1  Tpr_TRINITY_DN10844_c2_g7|Tdu_TRINITY_DN25328_...    177
2  Tpr_TRINITY_DN15383_c4_g16|Tdu_TRINITY_DN14160...     43
3  Tpr_TRINITY_DN1451_c0_g1|Tdu_TRINITY_DN16990_c...     80
4  Tpr_TRINITY_DN10853_c1_g4|Tdu_TRINITY_DN21860_...    809

In [59]:
tms[1:]

['both_counts_Tdu_5_2_Tdu_Tpr.csv',
 'both_counts_Tdu_6_2_Tdu_Tpr.csv',
 'both_counts_Tpr_1_2_Tdu_Tpr.csv',
 'both_counts_Tpr_2_2_Tdu_Tpr.csv',
 'both_counts_Tpr_3_2_Tdu_Tpr.csv']

In [60]:
for file in tms[1:]:
    col_name = "_".join(file.split("_")[2:4])
    temp_df_tms = pd.read_csv(file)
    temp_df_tms.rename(columns={"FUSION_ID":"FUSION_ID","Count":col_name}, inplace=True)
    df_tms = pd.merge(df_tms, temp_df_tms)

In [61]:
df_tms.head()

                                           FUSION_ID  Tdu_4  ...    Tpr_2  Tpr_3
0  Tpr_TRINITY_DN11257_c2_g1|Tdu_TRINITY_DN16696_...    106  ...      173     78
1  Tpr_TRINITY_DN10844_c2_g7|Tdu_TRINITY_DN25328_...    177  ...      402    205
2  Tpr_TRINITY_DN15383_c4_g16|Tdu_TRINITY_DN14160...     43  ...       25     18
3  Tpr_TRINITY_DN1451_c0_g1|Tdu_TRINITY_DN16990_c...     80  ...      200    119
4  Tpr_TRINITY_DN10853_c1_g4|Tdu_TRINITY_DN21860_...    809  ...     1281    700

[5 rows x 7 columns]

In [62]:
df_tms.to_csv("both_count_Tdu_Tpr_all_reps_for_Tms.csv", index=False)

Tml represents long-liguled T. miscellus; its parents include `T. dubius 2613, Pullman` and `T. pratensis 2608, Moscow`

| Original csv files | Renamed csv files |
| -- | -- |
| ase_counts_Tdu_2613_11_2_Tdu_Tpr.csv | ase_counts_Tdu_1_2_Tdu_Tpr.csv |
| ase_counts_Tdu_2613_12_2_Tdu_Tpr.csv | ase_counts_Tdu_2_2_Tdu_Tpr.csv |
| ase_counts_Tdu_2613_41_2_Tdu_Tpr.csv | ase_counts_Tdu_3_2_Tdu_Tpr.csv |

In [63]:
tml = sorted(['both_counts_Tdu_1_2_Tdu_Tpr.csv', 'both_counts_Tdu_2_2_Tdu_Tpr.csv', 'both_counts_Tdu_3_2_Tdu_Tpr.csv', 'both_counts_Tpr_1_2_Tdu_Tpr.csv', 'both_counts_Tpr_2_2_Tdu_Tpr.csv', 'both_counts_Tpr_3_2_Tdu_Tpr.csv'])

In [64]:
tml

['both_counts_Tdu_1_2_Tdu_Tpr.csv',
 'both_counts_Tdu_2_2_Tdu_Tpr.csv',
 'both_counts_Tdu_3_2_Tdu_Tpr.csv',
 'both_counts_Tpr_1_2_Tdu_Tpr.csv',
 'both_counts_Tpr_2_2_Tdu_Tpr.csv',
 'both_counts_Tpr_3_2_Tdu_Tpr.csv']

In [65]:
col_name = "_".join(tml[0].split("_")[2:4])

In [66]:
col_name

'Tdu_1'

In [67]:
df_tml = pd.read_csv(tml[0])

In [68]:
df_tml.head()

                                           FUSION_ID  Count
0  Tpr_TRINITY_DN11257_c2_g1|Tdu_TRINITY_DN16696_...     92
1  Tpr_TRINITY_DN10844_c2_g7|Tdu_TRINITY_DN25328_...    157
2  Tpr_TRINITY_DN15383_c4_g16|Tdu_TRINITY_DN14160...     36
3  Tpr_TRINITY_DN1451_c0_g1|Tdu_TRINITY_DN16990_c...     96
4  Tpr_TRINITY_DN10853_c1_g4|Tdu_TRINITY_DN21860_...    773

In [69]:
df_tml.rename(columns={"FUSION_ID":"FUSION_ID","Count":col_name}, inplace=True)

In [70]:
df_tml.head()

                                           FUSION_ID  Tdu_1
0  Tpr_TRINITY_DN11257_c2_g1|Tdu_TRINITY_DN16696_...     92
1  Tpr_TRINITY_DN10844_c2_g7|Tdu_TRINITY_DN25328_...    157
2  Tpr_TRINITY_DN15383_c4_g16|Tdu_TRINITY_DN14160...     36
3  Tpr_TRINITY_DN1451_c0_g1|Tdu_TRINITY_DN16990_c...     96
4  Tpr_TRINITY_DN10853_c1_g4|Tdu_TRINITY_DN21860_...    773

In [71]:
for file in tml[1:]:
    col_name = "_".join(file.split("_")[2:4])
    temp_df_tml = pd.read_csv(file)
    temp_df_tml.rename(columns={"FUSION_ID":"FUSION_ID","Count":col_name}, inplace=True)
    df_tml = pd.merge(df_tml, temp_df_tml)

In [72]:
df_tml.head()

                                           FUSION_ID  Tdu_1  ...    Tpr_2  Tpr_3
0  Tpr_TRINITY_DN11257_c2_g1|Tdu_TRINITY_DN16696_...     92  ...      173     78
1  Tpr_TRINITY_DN10844_c2_g7|Tdu_TRINITY_DN25328_...    157  ...      402    205
2  Tpr_TRINITY_DN15383_c4_g16|Tdu_TRINITY_DN14160...     36  ...       25     18
3  Tpr_TRINITY_DN1451_c0_g1|Tdu_TRINITY_DN16990_c...     96  ...      200    119
4  Tpr_TRINITY_DN10853_c1_g4|Tdu_TRINITY_DN21860_...    773  ...     1281    700

[5 rows x 7 columns]

In [73]:
df_tml.to_csv("both_count_Tdu_Tpr_all_reps_for_Tml.csv", index=False)