In [4]:
import pandas as pd
import os
import glob

In [5]:
os.chdir("/ufrc/soltis/shan158538/TragFL_NewAnalysis/OutPut/DE_analysis/DE_Tms_Tml/")

In [6]:
FileList = glob.glob("*_tdu_tpr.csv")

In [11]:
FileList = sorted(FileList)

In [12]:
FileList

['both_counts_new_Tml_1_2_tdu_tpr.csv',
 'both_counts_new_Tml_2_2_tdu_tpr.csv',
 'both_counts_new_Tml_3_2_tdu_tpr.csv',
 'both_counts_new_Tms_1_2_tdu_tpr.csv',
 'both_counts_new_Tms_2_2_tdu_tpr.csv',
 'both_counts_new_Tms_3_2_tdu_tpr.csv']

In [13]:
col_name = "_".join(FileList[0].split("_")[3:5])

In [14]:
col_name

'Tml_1'

In [15]:
df = pd.read_csv(FileList[0])

In [16]:
df.head()

                                           FUSION_ID  Count
0  Tpr_TRINITY_DN11257_c2_g1|Tdu_TRINITY_DN16696_...     71
1  Tpr_TRINITY_DN10844_c2_g7|Tdu_TRINITY_DN25328_...    135
2  Tpr_TRINITY_DN15383_c4_g16|Tdu_TRINITY_DN14160...     26
3  Tpr_TRINITY_DN1451_c0_g1|Tdu_TRINITY_DN16990_c...     71
4  Tpr_TRINITY_DN10853_c1_g4|Tdu_TRINITY_DN21860_...    437

In [17]:
df.rename(columns={"FUSION_ID":"FUSION_ID","Count":col_name}, inplace=True)

In [18]:
df.head()

                                           FUSION_ID  Tml_1
0  Tpr_TRINITY_DN11257_c2_g1|Tdu_TRINITY_DN16696_...     71
1  Tpr_TRINITY_DN10844_c2_g7|Tdu_TRINITY_DN25328_...    135
2  Tpr_TRINITY_DN15383_c4_g16|Tdu_TRINITY_DN14160...     26
3  Tpr_TRINITY_DN1451_c0_g1|Tdu_TRINITY_DN16990_c...     71
4  Tpr_TRINITY_DN10853_c1_g4|Tdu_TRINITY_DN21860_...    437

In [19]:
for file in FileList[1:]:
    col_name = "_".join(file.split("_")[3:5])
    temp_df = pd.read_csv(file)
    temp_df.rename(columns={"FUSION_ID":"FUSION_ID","Count":col_name}, inplace=True)
    df = pd.merge(df, temp_df)

In [20]:
df.head()

                                           FUSION_ID  Tml_1  ...    Tms_2  Tms_3
0  Tpr_TRINITY_DN11257_c2_g1|Tdu_TRINITY_DN16696_...     71  ...       65     63
1  Tpr_TRINITY_DN10844_c2_g7|Tdu_TRINITY_DN25328_...    135  ...      154    195
2  Tpr_TRINITY_DN15383_c4_g16|Tdu_TRINITY_DN14160...     26  ...       30     21
3  Tpr_TRINITY_DN1451_c0_g1|Tdu_TRINITY_DN16990_c...     71  ...       43     76
4  Tpr_TRINITY_DN10853_c1_g4|Tdu_TRINITY_DN21860_...    437  ...      405    497

[5 rows x 7 columns]

In [23]:
df.to_csv("DESeq2_count_matrix_Tml_Tms.csv", index=False)