In [1]:
import pandas as pd
import os
import glob

In [2]:
os.chdir("/ufrc/soltis/shan158538/TragFL_NewAnalysis/OutPut/DE_analysis/PCA_all_species")

### Combine read counts from diploids

In [3]:
FileList1 = glob.glob("both_counts_T*")

In [4]:
FileList1 = sorted(FileList1)

In [5]:
FileList1

['both_counts_Tdu_1_2_Tdu_Tpr.csv',
 'both_counts_Tdu_2_2_Tdu_Tpr.csv',
 'both_counts_Tdu_3_2_Tdu_Tpr.csv',
 'both_counts_Tdu_4_2_Tdu_Tpr.csv',
 'both_counts_Tdu_5_2_Tdu_Tpr.csv',
 'both_counts_Tdu_6_2_Tdu_Tpr.csv',
 'both_counts_Tpr_1_2_Tdu_Tpr.csv',
 'both_counts_Tpr_2_2_Tdu_Tpr.csv',
 'both_counts_Tpr_3_2_Tdu_Tpr.csv']

In [6]:
col_name = "_".join(FileList1[0].split("_")[2:4])
df = pd.read_csv(FileList1[0])
df.rename(columns={"FUSION_ID":"FUSION_ID","Count":col_name}, inplace=True)

In [7]:
for file in FileList1[1:]:
    col_name = "_".join(file.split("_")[2:4])
    temp_df = pd.read_csv(file)
    temp_df.rename(columns={"FUSION_ID":"FUSION_ID","Count":col_name}, inplace=True)
    df = pd.merge(df, temp_df)

In [8]:
df.head()

                                           FUSION_ID  Tdu_1  ...    Tpr_2  Tpr_3
0  Tpr_TRINITY_DN11257_c2_g1|Tdu_TRINITY_DN16696_...     92  ...      173     78
1  Tpr_TRINITY_DN10844_c2_g7|Tdu_TRINITY_DN25328_...    157  ...      402    205
2  Tpr_TRINITY_DN15383_c4_g16|Tdu_TRINITY_DN14160...     36  ...       25     18
3  Tpr_TRINITY_DN1451_c0_g1|Tdu_TRINITY_DN16990_c...     96  ...      200    119
4  Tpr_TRINITY_DN10853_c1_g4|Tdu_TRINITY_DN21860_...    773  ...     1281    700

[5 rows x 10 columns]

### Combine read counts from Tms and Tml

In [9]:
FileList2 = glob.glob("both_counts_new_*")

In [10]:
FileList2 = sorted(FileList2)

In [11]:
FileList2

['both_counts_new_Tml_1_2_tdu_tpr.csv',
 'both_counts_new_Tml_2_2_tdu_tpr.csv',
 'both_counts_new_Tml_3_2_tdu_tpr.csv',
 'both_counts_new_Tms_1_2_tdu_tpr.csv',
 'both_counts_new_Tms_2_2_tdu_tpr.csv',
 'both_counts_new_Tms_3_2_tdu_tpr.csv']

In [12]:
for file in FileList2[0:]:
    col_name = "_".join(file.split("_")[3:5])
    temp_df = pd.read_csv(file)
    temp_df.rename(columns={"FUSION_ID":"FUSION_ID","Count":col_name}, inplace=True)
    df = pd.merge(df, temp_df)

In [13]:
df.head()

                                           FUSION_ID  Tdu_1  ...    Tms_2  Tms_3
0  Tpr_TRINITY_DN11257_c2_g1|Tdu_TRINITY_DN16696_...     92  ...       65     63
1  Tpr_TRINITY_DN10844_c2_g7|Tdu_TRINITY_DN25328_...    157  ...      154    195
2  Tpr_TRINITY_DN15383_c4_g16|Tdu_TRINITY_DN14160...     36  ...       30     21
3  Tpr_TRINITY_DN1451_c0_g1|Tdu_TRINITY_DN16990_c...     96  ...       43     76
4  Tpr_TRINITY_DN10853_c1_g4|Tdu_TRINITY_DN21860_...    773  ...      405    497

[5 rows x 16 columns]

In [14]:
df.to_csv("DESeq2_count_matrix_all_species.csv", index=False)