In [1]:
import pandas as pd
import sys
import os
import glob

In [2]:
os.chdir("/ufrc/soltis/shan158538/TragFL_NewAnalysis/OutPut/Polyploid_alignment/Compare_SAM_newASE/ase_counts_new_rename")

In [3]:
FileList = glob.glob("*.csv")

In [4]:
FileList

['ase_counts_new_Tms_1_2_tdu_tpr.csv',
 'ase_counts_new_Tms_2_2_tdu_tpr.csv',
 'ase_counts_new_Tms_3_2_tdu_tpr.csv',
 'ase_counts_new_Tml_1_2_tdu_tpr.csv',
 'ase_counts_new_Tml_3_2_tdu_tpr.csv',
 'ase_counts_new_Tml_2_2_tdu_tpr.csv']

In [5]:
for in_name in FileList:
    out_name = "both_" + "_".join(in_name.split("_")[1:])
    df = pd.read_csv(in_name)
    df["BOTH_ALL"]=df[["BOTH_EXACT","BOTH_INEXACT_EQUAL","SAM_A_EXACT_SAM_B_INEXACT","SAM_B_EXACT_SAM_A_INEXACT","SAM_A_INEXACT_BETTER","SAM_B_INEXACT_BETTER"]].sum(axis=1)
    df.rename(columns={"BOTH_ALL":"Count"}, inplace=True)
    df[["FUSION_ID","Count"]].to_csv(out_name, index=False)

## Here shows the input and output of the csv files

In [6]:
input = pd.read_csv("ase_counts_new_Tms_1_2_tdu_tpr.csv")
output = pd.read_csv("both_counts_new_Tms_1_2_tdu_tpr.csv")

In [7]:
input.head()

                                           FUSION_ID          ...           SAM_B_INEXACT_BETTER
0  Tpr_TRINITY_DN11257_c2_g1|Tdu_TRINITY_DN16696_...          ...                              3
1  Tpr_TRINITY_DN10844_c2_g7|Tdu_TRINITY_DN25328_...          ...                             10
2  Tpr_TRINITY_DN15383_c4_g16|Tdu_TRINITY_DN14160...          ...                              0
3  Tpr_TRINITY_DN1451_c0_g1|Tdu_TRINITY_DN16990_c...          ...                              1
4  Tpr_TRINITY_DN10853_c1_g4|Tdu_TRINITY_DN21860_...          ...                             14

[5 rows x 11 columns]

In [8]:
output.head()

                                           FUSION_ID  Count
0  Tpr_TRINITY_DN11257_c2_g1|Tdu_TRINITY_DN16696_...     63
1  Tpr_TRINITY_DN10844_c2_g7|Tdu_TRINITY_DN25328_...    130
2  Tpr_TRINITY_DN15383_c4_g16|Tdu_TRINITY_DN14160...     11
3  Tpr_TRINITY_DN1451_c0_g1|Tdu_TRINITY_DN16990_c...     32
4  Tpr_TRINITY_DN10853_c1_g4|Tdu_TRINITY_DN21860_...    362