In [1]:
import pandas as pd
import os
import glob

In [2]:
os.chdir("/ufrc/soltis/shan158538/TragFL_NewAnalysis/OutPut/DE_analysis/DE_Tdu_Tpr/")

In [3]:
FileList = glob.glob("both_counts_Tdu*.csv")

In [4]:
FileList = sorted(FileList)

In [5]:
FileList

['both_counts_Tdu_1_2_Tdu_Tpr.csv',
 'both_counts_Tdu_2_2_Tdu_Tpr.csv',
 'both_counts_Tdu_3_2_Tdu_Tpr.csv',
 'both_counts_Tdu_4_2_Tdu_Tpr.csv',
 'both_counts_Tdu_5_2_Tdu_Tpr.csv',
 'both_counts_Tdu_6_2_Tdu_Tpr.csv']

In [6]:
col_name = "_".join(FileList[0].split("_")[2:4])

In [7]:
col_name

'Tdu_1'

In [8]:
df = pd.read_csv(FileList[0])

In [9]:
df.head()

                                           FUSION_ID  Count
0  Tpr_TRINITY_DN11257_c2_g1|Tdu_TRINITY_DN16696_...     92
1  Tpr_TRINITY_DN10844_c2_g7|Tdu_TRINITY_DN25328_...    157
2  Tpr_TRINITY_DN15383_c4_g16|Tdu_TRINITY_DN14160...     36
3  Tpr_TRINITY_DN1451_c0_g1|Tdu_TRINITY_DN16990_c...     96
4  Tpr_TRINITY_DN10853_c1_g4|Tdu_TRINITY_DN21860_...    773

In [10]:
df.rename(columns={"FUSION_ID":"FUSION_ID","Count":col_name}, inplace=True)

In [11]:
df.head()

                                           FUSION_ID  Tdu_1
0  Tpr_TRINITY_DN11257_c2_g1|Tdu_TRINITY_DN16696_...     92
1  Tpr_TRINITY_DN10844_c2_g7|Tdu_TRINITY_DN25328_...    157
2  Tpr_TRINITY_DN15383_c4_g16|Tdu_TRINITY_DN14160...     36
3  Tpr_TRINITY_DN1451_c0_g1|Tdu_TRINITY_DN16990_c...     96
4  Tpr_TRINITY_DN10853_c1_g4|Tdu_TRINITY_DN21860_...    773

In [12]:
for file in FileList[1:]:
    col_name = "_".join(file.split("_")[2:4])
    temp_df = pd.read_csv(file)
    temp_df.rename(columns={"FUSION_ID":"FUSION_ID","Count":col_name}, inplace=True)
    df = pd.merge(df, temp_df)

In [13]:
df.head()

                                           FUSION_ID  Tdu_1  ...    Tdu_5  Tdu_6
0  Tpr_TRINITY_DN11257_c2_g1|Tdu_TRINITY_DN16696_...     92  ...      116    121
1  Tpr_TRINITY_DN10844_c2_g7|Tdu_TRINITY_DN25328_...    157  ...      169    238
2  Tpr_TRINITY_DN15383_c4_g16|Tdu_TRINITY_DN14160...     36  ...       36     47
3  Tpr_TRINITY_DN1451_c0_g1|Tdu_TRINITY_DN16990_c...     96  ...      126    108
4  Tpr_TRINITY_DN10853_c1_g4|Tdu_TRINITY_DN21860_...    773  ...     1113    918

[5 rows x 7 columns]

In [14]:
df.to_csv("DESeq2_count_matrix_Tdu.csv", index=False)